@import 'branding';

.big-name {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 3px;
    h1 {
        text-align: center;
        font-size: 70px;
        font-family: $fancyFont;
        color: $mediumColor;
        text-shadow: 1px 1px 1px $textShadowColor;
        height: min-content;
        @media screen and (max-width: 650px) {
            font-size: 50px;
            width: 80%;
        }
        @media screen and (max-height: 580px) {
            display: none;
        }
    }
    @media screen and (max-width: 650px) {
        height: 20vh;
    }
    @media screen and (max-height: 580px) {
        height: 10vh;
    }
}
.main-about {
    margin: auto;
    width: 80%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 650px) {
        height: 60vh;
    }
}
.about-left {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        max-width: 70%;
        max-height: 70%;
        border-radius: 5%;
        box-shadow: 5px 5px $mediumColor;
        filter: opacity(90%);
        transition-duration: 1s;
        &:hover {
            filter: opacity(100%);
            transition-duration: 1s;
        }
    }
    @media screen and (max-width: 850px) {
        display: none;
    }
    @media screen and (max-height: 460px) {
        display: none;
    }
}
.about-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
        margin: 5px;
        @media screen and (max-width: 500px) {
            font-size: 13px;
        }
    }
    @media screen and (max-width: 850px) {
        text-align: center;
        width: 100%;
    }
    @media screen and (max-height: 460px) {
        text-align: center;
        width: 100%;
    }
    
}