$lightTextColor: #777777;
$darkTextColor: #555555;
$textShadowColor: #888888;

$borderColor: #EEEEEE;

$lightColor: #EAE8FF;
$mediumColor: #D5D2F5;

$buttonColor: #E4EFFC;

$mainFont: 'Montserrat', sans-serif;
$fancyFont: 'Pacifico', cursive;